{% for category in categories %}
    <li class="ml-3 category-item">

        <a href="{% url 'category_view' category.id %}">
            {{ category }}
        </a>
{#        <span class="collapsible" onclick="collapse(this)">Next</span>#}
        <ul class="content">
            {% if category.categories.all %}
                {% with categories=category.categories.all %}
                    {% include "dictionary/category_template.html" %}
                {% endwith %}
            {% endif %}
        </ul>

    </li>
{% endfor %}
