{% extends "dictionary/left_menu_template.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'js/validationScripts.js' %}"></script>
    <script src="{% static 'js/saveScripts.js' %}"></script>
    <script src="{% static 'js/dynamicalInputs.js' %}"></script>
{% endblock %}

{% block white_workspace %}
    <div class="row h-100">
        {# SECTION FOR INPUTS TO EDIT WORD #}
        <div class="col-md-10">
            {% csrf_token %}
            <div id="word-form-inputs" class="w-100">

                {# SECTION FOR WORD NAME INPUTS #}
                <div class="row ml-0 mt-4 word-label">
                    <h5>what?</h5>
                </div>
                <div class="row ml-3">
                    <div class="col-md-11 word-name word-title gray-background m-0 p-0">
                        <input class="form-control w-100 word-input word-title p-2" type="text"
                               placeholder="Enter your word..."
                               name="word"
                               value="{{ word }}">
                    </div>
                </div>
                {# END SECTION FOR WORD NAME INPUTS #}

                {# SECTION FOR DESCRIPTION WORD INPUTS #}
                <div class="row ml-0 mt-4 word-label">
                    <h5>what is it?</h5>
                </div>
                <div class="row ml-3">
                    <div class="col-md-11 gray-background m-0 p-0">
                         <textarea class="form-control w-100 word-input p-2"
                                   placeholder="Enter your description..."
                                   rows="6"
                                   name="description">{{ word.description }}</textarea>
                    </div>
                </div>
                {# END SECTION FOR DESCRIPTION WORD INPUTS #}

                {# SECTION FOR WORD SENTENCES INPUTS #}
                <div class="row ml-0 mt-4 word-label">
                    <h5>examples?</h5>
                </div>

                {# RENDER ALL SENTENCES THAT ALREADY EXIST #}
                {% for sentence in word.sentences.all %}
                    <div class="row mt-1 ml-3" id="{{ sentence.id }}">
                        <div class="col-md-11 p-0 m-0 sentence-wrapper gray-background">
                            <input class="form-control w-100 word-input p-2 sentence_input"
                                   type="text"
                                   placeholder="Enter a sentence with this word..."
                                   onfocus="addNewSentenceInput(this)"
                                   onblur="deleteSentenceInput(this)"
                                   name="sentences"
                                   value="{{ sentence }}">
                        </div>
                    </div>
                {% endfor %}

                {# INPUT FOR NEW SENTENCE #}
                <div class="row mt-1 ml-3">
                    <div class="col-md-11 p-0 m-0 sentence-wrapper gray-background">
                        <input class="form-control w-100 word-input p-2 sentence_input"
                               type="text"
                               placeholder="Enter a sentence with this word..."
                               onfocus="addNewSentenceInput(this)"
                               onblur="deleteSentenceInput(this)"
                               id="last_sentence"
                               name="sentences">
                    </div>
                </div>
                {# END INPUT FOR NEW SENTENCE #}

                {# SECTION FOR WORD SENTENCES INPUTS #}

            </div>

            {# SAVE BUTTON #}
            <div class="row">
                <button type="button"
                        onclick="saveEditWord({{ category.id }}, {{ word.id }})"
                        class="btn workspace-button mx-auto my-4 px-5">Save
                </button>
            </div>
            {# END SAVE BUTTON #}
        </div>
        {# END SECTION FOR INPUTS TO EDIT WORD #}
    </div>
{% endblock %}
