* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 6.25vh;
}

h2 {
    font-size: 5vh;
}

h4 {
    font-size: 3.5vh;
}

h5 {
    font-size: 3vh;
}

h6 {
    font-size: 2.8vh;
}

label {
    font-size: 4.5vh;
}

.blue-background {
    background-color: #0F52BA;
}

.default-button {
    color: #0F52BA;
    font-size: 4vh;
    border-radius: 24px;
    outline-width: medium;
    border-width: 2px;
}

.default-button:hover {
    background-color: #0F52BA;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: whitesmoke;
    font-weight: bold;
}

.error {
    font-size: 2vh;
    height: 16px;
}

ul {
    list-style-type: none;
}

.category-item {
    font-size: 3vh;
}

.white-workspace {
    color: #4B4B4B;
}

.word, .word:hover {
    color: #4B4B4B;
}

.category, .category:hover {
    color: #4B4B4B;
}

hr {
    border-color: lightgray;
}

a.add-link {
    color: #0F52BA;
}

.gray-background {
    background-color: #eeeeee;
    border-radius: 5px;
}

.word-label {
    color: #ACADA8;
}